{% extends "admin/change_form.html" %}
{% load static %}

{% block breadcrumbs %}
    <div class="breadcrumbs custom-nav">
        <a onclick="showUtilityBills()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Yearly Bill Creation
        </a>
    </div>

    <style>
    .custom-nav a {
        display: flex;
        align-items: center;
    }

    .custom-nav svg {
        margin-right: 6px;
    }

    .custom-nav {
        padding: 5px 20px;
    }
    </style>

    <script>
        function showUtilityBills(){
            building = window.location.pathname.split('utilitybills/')[1].split('/change')[0]
            window.location.href = window.location.origin + "/create_utility_bills?" + "building=" + building
        }
    </script>

{% endblock %}

{% block inline_field_sets %}
  {% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
  {% endfor %}
  <script src="{% static 'inline_form_id_modulator.js' %}"></script>
{% endblock %}

